* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #090922;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px;
}

.App {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}


.freecodecamp-logo {
  width: 400;
  height: 200px;
}

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  justify-content: center;
  flex-wrap: wrap;
  
}

